*{
    padding:0%;
    margin:0%;
}
div{
    background-color: aqua;
}
h2{
    background-color: aquamarine;
}
h3{
    background-color: blue;
}
h1{
    background-color: aqua;
}
h2{
    background-color: rgb(47, 197, 9);
}